.tieude {
  color: tomato;
  font-weight: bold;
  font-size: 25pt;
}

.border{
  display:flex;
  flex-direction:column;
  height:100vh;
}
,header{
.noidung{
  color: black;
  font-style: normal;
  font-size: 14pt;
}
