.tieude {
  color: tomato;
  font-weight: bold;
  font-size: 25pt;
}

.border{
  display:flex;
  flex-direction:column;
  height:100vh;
}
.header{
  flex:15%;
  background: url("hinh_anh_thien_nhien_va_phong_canh_giup_xua_tan_met_moi_va_cang_thang_2408fbaadf.jpg")center / cover no-repeat;
  aspect-ratio:6/1;
}
.menu
.noidung{
  color: black;
  font-style: normal;
  font-size: 14pt;
}
